*~
*.tar.gz
*.gmo
*.o
*.a

src/udevil
src/.deps/
src/.libs/

autom4te.cache/
Makefile
config.log
config.status
libtool
config.h

po/.intltool-merge-cache
po/POTFILES
po/*.gmo
po/stamp-it
po/Makefile.in

packages/*/*.src.tar.gz
packages/*/*.changes
